/yarn.lock
/node_modules
/packages/*/esm
/packages/*/cjs
/packages/*/dist
/packages/*/node_modules
/packages/sand-cli/staging
/debug/**/esm
/debug/**/cjs
/debug/**/dist
/debug/**/node_modules
/examples/dist

# OS files.
.DS_Store
.idea/
.vscode/
.git
*.log